<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StudentMapper">

    <sql id="Base_Student_Column_List">
        s.id, s.username, s.password, s.name, s.avatar, s.role, s.college_id, s.speciality_id, s.class_id, s.score
    </sql>

    <select id="selectAll" resultType="com.example.entity.Student">
        select
        <include refid="Base_Student_Column_List" />,
        cl.name as className  from
        student s
        left join
        classes cl on s.class_id = cl.id
        <where>
            <if test="id != null"> and s.id = #{id}</if>
            <if test="username != null"> and s.username like concat('%', #{username}, '%')</if>
            <if test="password != null"> and s.password = #{password}</if>
            <if test="name != null"> and s.name like concat('%', #{name}, '%')</if> <if test="avatar != null"> and s.avatar = #{avatar}</if>
            <if test="role != null"> and s.role = #{role}</if>
            <if test="classId != null"> and s.class_id = #{classId}</if>
            <if test="collegeId != null"> and s.college_id = #{collegeId}</if>
            <if test="specialityId != null"> and s.speciality_id = #{specialityId}</if>
        </where>
        order by s.id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Student">
        select
        <include refid="Base_Student_Column_List" />,
        cl.name as className
        from
        student s
        left join
        classes cl on s.class_id = cl.id
        where s.id = #{id}
    </select>

    <delete id="deleteById">
        delete from student
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Student" useGeneratedKeys="true" keyProperty="id">
        insert into student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="name != null">name,</if>
            <if test="avatar != null">avatar,</if>
            <if test="role != null">role,</if>
            <if test="collegeId != null">college_id,</if>
            <if test="specialityId != null">speciality_id,</if>
            <if test="classId != null">class_id,</if>
            <if test="score != null">score,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="name != null">#{name},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="role != null">#{role},</if>
            <if test="collegeId != null">#{collegeId},</if>
            <if test="specialityId != null">#{specialityId},</if>
            <if test="classId != null">#{classId},</if>
            <if test="score != null">#{score},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Student">
        update student
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="collegeId != null">
                college_id = #{collegeId},
            </if>
            <if test="specialityId != null">
                speciality_id = #{specialityId}, </if>
            <if test="classId != null">
                class_id = #{classId},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>